In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [67]:
df = pd.read_csv('/home/noe/Documents/Master_2/Mémoire/SketchEngineExport/seruus_calcul_cooccurrences/800-849.csv',sep = ',', encoding = 'UTF-8', header = 4)

       lemme  occurrence
0         et         328
1         --         297
2      ipse2         185
3       qui2         177
4        tam         129
..       ...         ...
95      enim           9
96   fidelis           9
97     trado           9
98  possideo           8
99     ille2           8

[100 rows x 2 columns]

In [42]:
df.columns = ['numero','1','lemma','pos']
df

,numero,1,lemma,pos
0,0800_passau_224441,mea aliquid deo conferre </s><s> Trado itaque ...,seruo,ancillas pratas rures campos siluas aquarum qu...
1,0800_pflugk-harttung_236150,autem hec in uilla puplica nuncupante Battaues...,seruus,seruorum Dei omnibus archiepiscopis et episcop...
2,0800_pflugk-harttung_236150,in uilla puplica nuncupante Battaues regnante ...,seruorum,Dei omnibus archiepiscopis et episcopis per to...
3,0800_pflugk-harttung_236150,apostolice auctoritatis priuilegio fretus omni...,seruorum,ancillarum uillarum redituum possederit uel De...
4,0800_saintgall_224984,de rebus meis ad monasterium sancti Gallonis c...,seruum,meum nomine Otmunt cum hoba sua in uilla que u...
...,...,...,...,...
34229,9999_marmoutiermanceau_255656,in uinea illa erat dedimus ei et suo heredi ad...,seruus,uel colibertus nullus habebit </s><s> Fecimus ...
34230,9999_marmoutiervendomois_256306,nostri Maioris scilicet huius habitatores Mona...,serui,quondam et forestarii comitis Fulconis calumni...
34231,9999_marmoutiervendomois_256373,Rainaldus presbyter de Sancto Leobino Morandus...,seruus,Fulcherii Fulcradus Bastardus </s><s> Noticia ...
34232,9999_montcassin_233318,secundi pape archiepiscopis episcopis et abbat...,seruus,seruorum Dei omnibus episcopis et reliquis Chr...
34233,9999_montcassin_233318,pape archiepiscopis episcopis et abbatibus pro...,seruorum,Dei omnibus episcopis et reliquis Christi sace...

,numero,1,lemma,pos
0,0800_passau_224441,mea aliquid deo conferre </s><s> Trado itaque ...,seruo,ancillas pratas rures campos siluas aquarum qu...
1,0800_pflugk-harttung_236150,autem hec in uilla puplica nuncupante Battaues...,seruus,seruorum Dei omnibus archiepiscopis et episcop...
2,0800_pflugk-harttung_236150,in uilla puplica nuncupante Battaues regnante ...,seruorum,Dei omnibus archiepiscopis et episcopis per to...
3,0800_pflugk-harttung_236150,apostolice auctoritatis priuilegio fretus omni...,seruorum,ancillarum uillarum redituum possederit uel De...
4,0800_saintgall_224984,de rebus meis ad monasterium sancti Gallonis c...,seruum,meum nomine Otmunt cum hoba sua in uilla que u...
...,...,...,...,...
34229,9999_marmoutiermanceau_255656,in uinea illa erat dedimus ei et suo heredi ad...,seruus,uel colibertus nullus habebit </s><s> Fecimus ...
34230,9999_marmoutiervendomois_256306,nostri Maioris scilicet huius habitatores Mona...,serui,quondam et forestarii comitis Fulconis calumni...
34231,9999_marmoutiervendomois_256373,Rainaldus presbyter de Sancto Leobino Morandus...,seruus,Fulcherii Fulcradus Bastardus </s><s> Noticia ...
34232,9999_montcassin_233318,secundi pape archiepiscopis episcopis et abbat...,seruus,seruorum Dei omnibus episcopis et reliquis Chr...
34233,9999_montcassin_233318,pape archiepiscopis episcopis et abbatibus pro...,seruorum,Dei omnibus episcopis et reliquis Christi sace...

In [44]:
df2 = df['pos'].str.split((' '))
df3 = df['lemma']

In [45]:
for i in range(len(df)):
    string = df2[i][0]
    lemma = df3[i]
    if lemma == "seruus" or lemma == "Seruus":
        if string == "seruorum" or string == "Seruorum":
            df = df.drop(i, axis = 0)
    #elif lemma == "seruorum" or lemma == "Seruorum":
        #if string == "dei" or string == "Dei":
            #df = df.drop(i, axis = 0)

In [46]:
df

,numero,1,lemma,pos
0,0800_passau_224441,mea aliquid deo conferre </s><s> Trado itaque ...,seruo,ancillas pratas rures campos siluas aquarum qu...
2,0800_pflugk-harttung_236150,in uilla puplica nuncupante Battaues regnante ...,seruorum,Dei omnibus archiepiscopis et episcopis per to...
3,0800_pflugk-harttung_236150,apostolice auctoritatis priuilegio fretus omni...,seruorum,ancillarum uillarum redituum possederit uel De...
4,0800_saintgall_224984,de rebus meis ad monasterium sancti Gallonis c...,seruum,meum nomine Otmunt cum hoba sua in uilla que u...
5,0800_saintgall_224984,interim uero ego ipse dum aduixero inde soluam...,serui,reditio fuerit post obitum uero meum ad ipsum ...
...,...,...,...,...
34228,9999_hersfeld_229038,huobe Iiii mansus Iiii </s><s> In Erlibahc hub...,seruos,Ii litos Xxii et sunt per totum huobe Ccu mans...
34229,9999_marmoutiermanceau_255656,in uinea illa erat dedimus ei et suo heredi ad...,seruus,uel colibertus nullus habebit </s><s> Fecimus ...
34230,9999_marmoutiervendomois_256306,nostri Maioris scilicet huius habitatores Mona...,serui,quondam et forestarii comitis Fulconis calumni...
34231,9999_marmoutiervendomois_256373,Rainaldus presbyter de Sancto Leobino Morandus...,seruus,Fulcherii Fulcradus Bastardus </s><s> Noticia ...
34233,9999_montcassin_233318,pape archiepiscopis episcopis et abbatibus pro...,seruorum,Dei omnibus episcopis et reliquis Christi sace...

In [25]:
#df = df['lemma'].map(lambda x: x.lower())
df

,numero,1,lemma,pos
0,0800_passau_224441,mea aliquid deo conferre </s><s> Trado itaque ...,seruo,ancillas pratas rures campos siluas aquarum qu...
2,0800_pflugk-harttung_236150,in uilla puplica nuncupante Battaues regnante ...,seruorum,Dei omnibus archiepiscopis et episcopis per to...
3,0800_pflugk-harttung_236150,apostolice auctoritatis priuilegio fretus omni...,seruorum,ancillarum uillarum redituum possederit uel De...
4,0800_saintgall_224984,de rebus meis ad monasterium sancti Gallonis c...,seruum,meum nomine Otmunt cum hoba sua in uilla que u...
5,0800_saintgall_224984,interim uero ego ipse dum aduixero inde soluam...,serui,reditio fuerit post obitum uero meum ad ipsum ...
...,...,...,...,...
34228,9999_hersfeld_229038,huobe Iiii mansus Iiii </s><s> In Erlibahc hub...,seruos,Ii litos Xxii et sunt per totum huobe Ccu mans...
34229,9999_marmoutiermanceau_255656,in uinea illa erat dedimus ei et suo heredi ad...,seruus,uel colibertus nullus habebit </s><s> Fecimus ...
34230,9999_marmoutiervendomois_256306,nostri Maioris scilicet huius habitatores Mona...,serui,quondam et forestarii comitis Fulconis calumni...
34231,9999_marmoutiervendomois_256373,Rainaldus presbyter de Sancto Leobino Morandus...,seruus,Fulcherii Fulcradus Bastardus </s><s> Noticia ...
34233,9999_montcassin_233318,pape archiepiscopis episcopis et abbatibus pro...,seruorum,Dei omnibus episcopis et reliquis Christi sace...

In [26]:
df.to_csv('seruus_propre.csv')

In [47]:
df = df.drop(["1",'pos'],axis = 1)
df = df.set_index("numero")
df = df.sort_values("lemma", axis=0, ascending=True)
df_final = pd.DataFrame(df['lemma'].str.lower().value_counts())
df_final

          lemma
seruorum  15433
seruos     1865
seruus     1111
serui       927
seruum      725
seruo       586
serue        53